<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
    <listeners>
        <listener class-name="com.vryba.selenium.listeners.TestListener" />
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>
    <test name="All Tests" >
       <classes>
            <class name="com.vryba.selenium.Home_Page_TC" />
            <class name="com.vryba.selenium.Login_TC" />
            <class name="com.vryba.selenium.Search_TC" />
            <class name="com.vryba.selenium.NavigationBar_TC"/>
        </classes>
    </test>
</suite>
