<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1}:%L - %msg%n" />
        </Console>
        <RollingFile name="fileLogger" fileName="logs/list_res.log" filePattern="list_res-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1}:%L - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.vryba.selenium" level="trace">
        </Logger>
        <Root level="trace">
            <AppenderRef ref="console"/>
            <AppenderRef ref="fileLogger" level="info"/>
        </Root>
    </Loggers>
</Configuration>